.ep_initialized
.DS_Store
node_modules/
node_modules
npm-debug.log
/bower_components/
/node_modules/
/.pulp-cache/
/output/
/generated-docs/
/.psc-package/
/.psc*
/.purs*
/.psa*
/.spago
/dist
/scripts/.venv
.purs-repl
/.vscode/