<div id="wagsError" class="popup">
	<div class="popup-content">
		<h1 aria-label="Error">Uh oh</h1>
    <h2 aria-label="Your code had errors">Your code had errors...</h2>
     <pre><code id="wagsErrorMessage">Errors:</code></pre>
	</div>
</div>
