<div id="wagsRecord" class="popup">
	<div class="popup-content">
		<h1 aria-label="Record audio">Record audio</h1>
		<div id="wavesurferJsRecorder"></div>
		<div id="recordingtagdiv" class="hide-input">
			<label for="recordingtag">Name</label>
			<input
				type="text"
				name="recordingtag"
				id="recordingtag"
				data-l10n-id="pad.modals.recordingtag"
			/>
		</div>
		<div class="btn-container">
			<button
				id="recordingstart"
				class="btn btn-primary show-button"
				data-l10n-id="pad.modals.startrecording"
			>
				Start recording
			</button>
			<button
				id="recordingstop"
				class="btn btn-primary hide-button"
				data-l10n-id="pad.modals.stoprecording"
			>
				Stop recording
			</button>
			<button
				id="recordingupload"
				class="btn btn-primary hide-button"
				data-l10n-id="pad.modals.uploadrecording"
			>
				Upload
			</button>
			<button
				id="recordingplay"
				class="btn btn-default hide-button"
				data-l10n-id="pad.modals.playrecording"
			>
				Play
			</button>
			<button
				id="recordingcancel"
				class="btn btn-default hide-button"
				data-l10n-id="pad.modals.cancelrecording"
			>
				Cancel
			</button>
		</div>
	</div>
</div>
